<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>caps-sudo</vendor>
  <vendor_url>https://github.com/fursman/Ubuntu</vendor_url>

  <action id="com.fursman.caps-sudo.arm">
    <description>Arm passwordless sudo</description>
    <message>Authentication is required to ARM passwordless sudo</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/sbin/caps-sudo</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
